:root {
  --el-border-color-lighter:rgb(255, 163, 77);
  --el-fill-color-blank:radial-gradient( rgb(19, 30, 37) 24.5%);
  --el-color-primary-light-9:rgb(255, 163, 77);
  --el-color-primary:rgb(19, 30, 37);
  --el-border-color:rgb(255, 163, 77);
  --el-text-color-regular:rgb(255, 163, 77);
  --el-text-color:rgb(255, 163, 77);
  --el-text-color-primary:rgb(255, 163, 77);
  --el-card-border-radius:4px;
  --el-main-padding:4px;
  --el-main-error:rgb(246,123,115)
}
.drag{
  -webkit-app-region:drag
}
.no-drag{
  -webkit-app-region:no-drag
}
body{
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat';
  background: radial-gradient(circle at 110% 50.0%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%) !important;
}
.container{
  margin-top: 3vh;
  width: 100%;
  height: 97vh;
}
.mainView {
  width: 100%;
  height: 97vh;
}
.sidebarView {
  width: 25%;
  height: 97vh;
  border:0px;
}
.sidebarView a {
  text-decoration: none;
}
.sidebar{
  border: 0px;
}
.title{
  color:rgb(255, 163, 77);
  font-size: 20px;
}
.title-login{
  color:rgb(19, 30, 37);
  font-size: 20px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.el-card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
  background: radial-gradient( rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%) !important; 
  border: 0px;
}
.el-card__header{
  border: 0px;
}
.cardOptions {
  /* width: 100%; */
  height: 100%;
  border-radius: var(--el-card-border-radius);
  background-color: var(--el-text-color) ;
  color: var(--el-color-primary);
  padding: var(--el-main-padding);
}
.el-table{
  background:radial-gradient( rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%) !important ;
  color:rgb(255, 163, 77);
}
.date {
  color: var(--el-text-color-primary);
}
.el-calendar-table td.is-today {
  background-color: transparent !important;
}
.el-calendar-table .el-calendar-day:hover{
  background-color: transparent !important;
}
.el-calendar-table .is-selected{
  background-color: transparent !important;
}
.el-button:hover {
  color: rgb(19, 30, 37);
  border-color: var(--el-color-primary);
}
.el-button:active {
  color: rgb(19, 30, 37);
  border-color: var(--el-color-primary);
}
.el-button:focus {
  color: rgb(19, 30, 37);
  border-color: var(--el-color-primary);
}
.showTraining{
  display: flex;
  justify-content: space-around;
  padding: 0.7rem;
}
.card-login{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
  background: linear-gradient(to left top, rgb(255, 163, 77) 50%, rgb(255, 170, 80) 50%) !important; 
  border-radius: var(--el-card-border-radius);
  border:0px;
  min-width: 30%;
  min-height: 40%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainLogin{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.el-input__wrapper{
  display: flex;
  background: radial-gradient(rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%) !important; 
  border: 0px !important;
  border-radius: 8px !important;
  padding: 8px;
  width: 20rem;
}
.el-input__wrapper:hover{
  border: 0px;
  box-shadow: none;
}
.inputPassword{
  position: relative;
}
.iconShowPassword{
  position: absolute;
  right: 5%;
  bottom: 30%;
  font-size: 20px;
  color: rgb(255, 163, 77)
  /* color: red;   */
}
.buttonLogin{
  background:radial-gradient(rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%) ; 
  color:rgb(255, 163, 77) ;
  border:0px
}
.buttonLogin:hover{
  color:rgb(255, 163, 77) ;
}
.desktopLogoApp{
  animation: icon 5s linear infinite;
}
.el-switch__core .is-checked {
  color:var(--el-color-primary)
}
.el-switch__core {
  background-color:var(--el-main-error)
}